form {
  margin-left: 65%;
  padding: 15px;
}

.searchButton {
  border: 2px solid #00204a;
  background-color: rgba(255, 255, 255, 50%);
  border-radius: 5px;
}

.searchButton:hover {
  border: 2px solid #00204a;
  background-color: #fcd6e2;
  transition: all 200ms ease-in-out;
}
